@import 'breakpoints';

.icon {
	$parent: &;

	display: inline-block;
	line-height: 1;
	vertical-align: middle;

	width: var(--icon-xs);
	height: var(--icon-xs);

	svg {
		width: 100%;
		height: 100%;
	}

	path {
		fill: currentColor;
	}

	&:first-child:not(:only-child) {
		margin-right: var(--space-sm);
	}

	&:last-child:not(:only-child) {
		margin-left: var(--space-sm);
	}
}
